body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
    background-color:#edeeef;
}
a:hover, a:visited, a{
	text-decoration: none;
}
/*header area*/
.top-header{
	background: #424344;
/*	position: fixed;*/
	width: 100%;
	z-index: 333;
}
.header-row{
	margin: 0;
	padding: 0;
}

textarea {
    margin-top: 5%;
    resize: none;
     font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
 }

.top-header img.logo{
	float: left;
	margin-top: 13px;
/*	margin-bottom: 30px;*/
	transition:all 0.7s ease 0s;
	-webkit-transition:all 0.7s ease 0s;
	-moz-transition:all 0.7s ease 0s;
	-o-transition:all 0.7s ease 0s;
	-ms-transition:all 0.7s ease 0s;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0;
/*  margin-top: 23px;*/
  transition:all 0.7s ease 0s;
	-webkit-transition:all 0.7s ease 0s;
	-moz-transition:all 0.7s ease 0s;
	-o-transition:all 0.7s ease 0s;
	-ms-transition:all 0.7s ease 0s;
}
.navbar-toggle span{
	color: #fff;
}
ul.nav{
	margin: 0;
	padding: 0;
}
.navbar-default .navbar-nav>li>a {
 	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 800;
	transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
/*	padding: 12px 20px;*/
	border-radius: 5px;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #424344;
	background-color: #fff;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
  margin-top: 4px;
}

/*.code-form {
	margin-left: 15px;

}*/

/*banner area*/
.banner h3{
	font-size: 30px;
	color: #fff;
	margin-top: 205px;
	font-weight: 800;
}
.banner h1{
	font-size: 68px;
	color: #fff;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 10px;
}
.banner p{
	font-size: 18px;
	color: #fff;
}
.banner img{
	margin: 50px;
}

/*footer area*/

.footer p{
	color:  #424344;
	font-size: 12px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}
.nivo-lightbox-image img{
	width: 600px;
	height: 400px;
}


/******************************
responsive area
********************************/
/* lg */ 
@media (min-width: 1200px) {
	#changeuri-form {
		height: 50px;
	}
	
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
	#changeuri-form {
			height: 50px;
		}
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	.single-service{
		margin-bottom: 30px;
	}
	.navbar-default .navbar-nav>li>a{
		padding: 12px 10px;
	}
	input.message {
	  width: 718px;
	}
}

/* xs */
@media (min-width: 361px) and (max-width: 767px) {
	input.name {
	  margin-top: 55px;
	  width: 420px;
	}
	input.email{
		width: 420px;
	}
	input.message{
		width: 420px;
	}
	.banner h1 {
	  font-size: 60px;
	  letter-spacing: 3px;
	}
	.about-inside{
		padding: 10px;
	}

	#changeuri-form {
		height: 100px;
	}
}

/* XS Portrait */
@media (max-width: 479px) {
	.logo{
		margin-top: 10px;
	}
	input.name{
		margin-top: 55px;
		width: 275px;
	}
	input.email{
		width: 275px;
	}
	input.message{
		width: 275px;
	}
	.contact-form input.submit-btn{
		width: 200px;
		height: 50px;
		border:0;
	}
	.banner h1 {
		  font-size: 38px;
		  letter-spacing: 0px;
	}
	.navbar-header{
		margin-top: 5px !important;
	}
	.about-inside{
		padding: 0px;
	}

	#changeuri-form {
		height: 100px;
	}
	#open-test {
		margin-left: 10px;
	}
}

@media (max-width: 360px) {
		#changeuri-form {
		height: 100px;
	}
	#butcan {
		margin-top: 20px;
	}
}

.caret-up {
    /* Safari */
    -webkit-transform: rotate(-180deg);
    
    /* Firefox */
    -moz-transform: rotate(-180deg);
    
    /* IE */
    -ms-transform: rotate(-180deg);
    
    /* Opera */
    -o-transform: rotate(-180deg);
    
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);

}

.drop-up {
    top: auto;
    bottom: 100% !important;
}











