{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>codenote / {{ code.uri }}</title>
    <link rel="icon" href="{% static 'favicon.png' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="google-site-verification" content="KuyZohRF9cc5EHQ07UJaK4_AE24-foc8Va-2mMpm8No" />

    <link rel="stylesheet" href="{% static 'twbs/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dimsemenov/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'codemirror/CodeMirror/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'google/material-design-icons/iconfont/material-icons.css' %}">
    <link rel="stylesheet" href="{% static 'codenote/css/open.css' %}">
</head>

<body style="background: #eceff1">
    <div class="container" style="padding-top: 5vh; padding-bottom: 5vh">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="float-right">
                            <a
                                href="{% url 'new' %}"
                                class="btn btn-link"
                                data-toggle="tooltip"
                                title="New"><i class="material-icons md-brown">add</i></a>
                            <a
                                href="{% url 'upload' %}"
                                class="btn btn-link"
                                data-toggle="tooltip"
                                title="Upload a File"><i class="material-icons md-brown">cloud_upload</i></a>
                            <button
                                type="button"
                                class="btn btn-link code-header code-password"
                                data-mfp-src="#password-popup"
                                data-toggle="tooltip"
                                title="Password"><i class="material-icons md-brown">lock</i></button>
                            <button
                                type="button"
                                class="btn btn-link code-header code-uri"
                                data-mfp-src="#uri-popup"
                                data-toggle="tooltip"
                                title="Change URL"><i class="material-icons md-brown">link</i></button>
                        </div>
                    </div>

                    <div class="card-body">
                        <textarea class="code-editor" title="Your Note" hidden></textarea>
                    </div>

                    <div class="card-footer">
                        <a
                            href="{% url 'share' uri=code.uri %}"
                            class="btn btn-link"
                            target="_blank"
                            data-toggle="tooltip"
                            title="Share"><i class="material-icons md-brown">share</i></a>
                        <a
                            href="{% url 'raw' uri=code.uri %}"
                            class="btn btn-link"
                            target="_blank"
                            data-toggle="tooltip"
                            title="Raw"><i class="material-icons md-brown">insert_drive_file</i></a>
                        <a
                            href="{% url 'highlight' uri=code.uri %}"
                            class="btn btn-link"
                            target="_blank"
                            data-toggle="tooltip"
                            title="Syntax Highlighted"><i class="material-icons md-brown">code</i></a>
                        <a
                            href="{% url 'download' uri=code.uri %}"
                            class="btn btn-link"
                            data-toggle="tooltip"
                            title="Download"><i class="material-icons md-brown">file_download</i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <select class="form-control ide-compiler" title="Compiler">
                    <option selected disabled hidden>Compiler</option>
                    {% for lang in languages %}
                        <option
                            data-codemirror="{{ lang.codemirror }}"
                            data-mime="{{ lang.mime }}"
                            value="{{ lang.id }}">{{ lang.name }} ({{ lang.ver }})</option>
                    {% endfor %}
                </select>
                <div class="d-sm-none" style="margin-bottom: 1rem"></div>
            </div>

            <div class="col-xs-12 col-sm-9">
                <button
                    class="btn btn-outline-secondary ide-btn disabled"
                    data-toggle="tooltip"
                    title="Specify Input (stdin)"
                    disabled><i class="material-icons">input</i></button>
                <button
                    class="btn btn-primary ide-btn disabled float-right"
                    data-toggle="tooltip"
                    title="Run"
                    disabled><i class="material-icons">bug_report</i></button>
            </div>
        </div>

        <!-- password popup -->
        <div id="password-popup" class="white-popup mfp-hide">
            <form class="input-group code-form code-password">
                <input
                    id="password-locked"
                    type="password"
                    class="form-control input-password code-input code-password"
                    placeholder="********"
                    aria-label="Password"
                    aria-describedby="password">
                <div class="input-group-append">
                    <button
                        type="button"
                        class="btn btn-outline-danger code-password code-unlock"
                        data-toggle="tooltip"
                        title="Unlock"><i class="material-icons">lock_open</i></button>
                    <button
                        type="submit"
                        class="btn btn-outline-secondary code-password"
                        data-toggle="tooltip"
                        title="Change Password"><i class="material-icons">edit</i></button>
                </div>
                <div class="invalid-feedback"></div>
            </form>

            <form class="input-group code-form code-password">
                <input
                    id="password-unlocked"
                    type="password"
                    class="form-control code-input code-password"
                    placeholder="Password"
                    aria-label="Password"
                    aria-describedby="password">
                <div class="input-group-append">
                    <button
                        type="submit"
                        class="btn btn-outline-primary code-password"
                        data-toggle="tooltip"
                        title="Lock"><i class="material-icons">lock_outline</i></button>
                </div>
                <div class="invalid-feedback"></div>
            </form>
        </div>

        <!-- uri popup -->
        <div id="uri-popup" class="white-popup mfp-hide">
            <form class="input-group code-form code-uri">
                <input
                    class="form-control code-input code-uri"
                    placeholder="URL"
                    value="{{ code.uri }}"
                    aria-label="URL"
                    aria-describedby="url">
                <div class="input-group-append">
                    <button
                        type="submit"
                        class="btn btn-outline-primary code-uri"
                        data-toggle="tooltip"
                        title="Change URL"><i class="material-icons">edit</i></button>
                </div>
                <div class="invalid-feedback"></div>
            </form>

        </div>
    </div>

    <!--suppress JSUnusedLocalSymbols -->
    <script>
    let uri = '{{ code.uri }}';
    let password = {% if code.is_password_protected %}true{% else %}false{% endif %};
    let code;
    </script>

    <script src="{% static 'jquery/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'FezVrasta/popper.js/popper.min.js' %}"></script>
    <script src="{% static 'FezVrasta/popper.js/tooltip.min.js' %}"></script>
    <script src="{% static 'twbs/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dimsemenov/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'codemirror/CodeMirror/codemirror.js' %}"></script>
    <script src="{% static 'codemirror/CodeMirror/addon/selection/active-line.js' %}"></script>
    <script src="{% static 'google/diff-match-patch/javascript/diff_match_patch.js' %}"></script>

    <!--suppress JSUnusedLocalSymbols -->
    <script>
    let tooltips = $('[data-toggle="tooltip"]');
    let endpoints = {
        code: '{% url 'code' %}',
        lock: '{% url 'lock' %}',
        mode: '{% static 'codemirror/CodeMirror/mode' %}',
        rename: '{% url 'rename' %}',
        unlock: '{% url 'unlock' %}',
        update: '{% url 'update' %}',
    };

    $(document).ready (() => {
        $.ajaxSetup ({cache: true});
        tooltips.tooltip ();
    });
    </script>

    <script src="{% static 'codenote/js/ide.open.js' %}"></script>
    <script src="{% static 'codenote/js/editor.open.js' %}"></script>
    <script src="{% static 'codenote/js/code.open.js' %}"></script>
</body>
</html>
