{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>codenote | Upload</title>
    <link rel="icon" href="{% static 'favicon.png' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="google-site-verification" content="KuyZohRF9cc5EHQ07UJaK4_AE24-foc8Va-2mMpm8No" />

    <link rel="stylesheet" href="{% static 'twbs/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'google/material-design-icons/iconfont/material-icons.css' %}">
    <link rel="stylesheet" href="{% static 'codenote/css/upload.css' %}">
</head>

<body style="background: #eceff1">
    <div class="container" style="padding-top: 5vh; padding-bottom: 5vh; height: 90vh">
        <div class="row">
            <div class="col-12">
                <div class="card uploader" style="height: 90vh">
                    <input
                        type="file"
                        class="uploader-file d-none"
                        onchange="handleFiles(this.files)">
                    <div class="card-body uploader-trigger d-flex flex-column">
                        <div>
                            <a
                                href="{% url 'new' %}"
                                class="btn btn-outline-secondary"
                                data-toggle="tooltip"
                                title="Back to Home"><i class="material-icons">home</i></a>
                        </div>

                        <div class="text-center m-auto">
                            <div>
                                <i class="uploader-hint uploader-icon material-icons md-144">file_download</i>
                            </div>
                            <div>
                                <strong><span class="uploader-hint uploader-text">Drag your file here</span></strong>
                            </div>
                        </div>

                        <div class="row uploader-control" style="display: none">
                            <div class="col-xs-12 col-sm-auto">
                                <form class="input-group uploader-form">
                                    <input
                                        type="text"
                                        class="form-control uploader-uri uploader-control"
                                        data-toggle="tooltip"
                                        title="Specify URL"
                                        placeholder="Custom URL"
                                        style="line-height: 1.65">
                                    <div class="invalid-feedback"></div>
                                </form>
                                <div class="d-sm-none" style="margin-bottom: 1rem"></div>
                            </div>
                            <div class="col-xs-12 col-sm-auto">
                                <button
                                    type="button"
                                    class="btn btn-danger uploader-control"
                                    data-toggle="tooltip"
                                    title="Remove"
                                    onclick="removeFile()"><i class="material-icons">close</i></button>
                                <button
                                    type="button"
                                    class="btn btn-primary uploader-control float-sm-none float-right"
                                    data-toggle="tooltip"
                                    title="Upload!"
                                    onclick="uploadFile()"><i class="material-icons">file_upload</i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <span style="color: #ccc">Status: </span><span class="uploader-hint uploader-status">Idle</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'jquery/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'FezVrasta/popper.js/popper.min.js' %}"></script>
    <script src="{% static 'FezVrasta/popper.js/tooltip.min.js' %}"></script>
    <script src="{% static 'twbs/bootstrap/js/bootstrap.min.js' %}"></script>

    <!--suppress JSUnusedLocalSymbols -->
    <script>
    let tooltips = $('[data-toggle="tooltip"]');
    let endpoints = {
        check: '{% url 'check' %}',
        upload_api: '{% url 'upload-api' %}',
    };

    $(document).ready (() => {
        tooltips.tooltip ();
    })
    </script>

    <script src="{% static 'codenote/js/uploader.js' %}"></script>
</body>
</html>
